<html>

<head>
    <title> Google calender API </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body style="margin-top: 0px;">
    <div class="grey lighten-3 container">
        <div class="col s6 m7 center  grey lighten-3">
            <h2 class="header" style="height: 120px;">Google Calender Add Event AOuth2.0</h2>
            <div class="center-align " style="height: 150px;">
                <a class="oauth-container btn-large darken-4 white black-text " href="<%= url %>"
                    style="text-transform:none">
                    <div class="left ">
                        <img width="30px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    </div>
                    Login with Google
                </a>
            </div>
        </div>
        <div class="footer-copyright  center   grey lighten-3 " style="padding: 4px;">
            <p> ADDING EVENTS MADE EASY WITH GOOGLE CALENDER </p>
        </div>
    </div>
    </div>
    </div>

    </div>

</body>

</html>