<!DOCTYPE html>
<html>
<head>
    <title> Google calender API </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body style="margin-top: 0px;">
    <div>
    </div>
    <div class="grey lighten-3 container">
        <div class="col s6 m7 center  grey lighten-3">
            <h2 class="header" style="height: 80px;">Google Calender Add Event AOuth2.0</h2>
    
            <h4 style="text-decoration-color: rgb(172, 8, 41);"> successfully event added !!! </h4>
    
            <a href="<%= url %>"> Click here to view in google Calender </a>
    
        </div>
    
        <div class="footer-copyright  center   grey lighten-3 " style="padding: 4px;">
            <p> ADDING EVENTS MADE EASY WITH GOOGLE </p>
        </div>
    
    </div>
    </div>
    </div>
    
    </div>
</body>

</html>